.validation-columns {
    display: flex;
    justify-content: space-between;
    margin: 20px;
}

.validation-column {
    width: 45%;
}

.validation-screenshot {
    width: 100%;
    max-width: 400px;
    border: 2px solid #ddd;
    border-radius: 8px;
    margin-bottom: 10px;
}

h2 {
    text-align: center;
    color: #333;
}

p {
    text-align: center;
    font-size: 1.1em;
    color: #555;
}



* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Arial', sans-serif;
    background-color: #f0f0f0;
    color: #333;
    line-height: 1.6;
    padding: 20px;
}

nav {
    background-color: #333;
}

nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
}

nav ul li {
    position: relative;
    margin: 0 15px;
}

nav ul li a {
    text-decoration: none;
    color: #fff;
    padding: 10px 20px;
    display: block;
    transition: background-color 0.3s ease;
}

nav ul li a:hover {
    background-color: #555;
}


nav ul li.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown-content {
    display: none; 
    position: absolute;
    top: 100%;
    left: 0;
    background-color: #333;
    min-width: 160px;
    list-style-type: none;
    padding: 0;
    margin: 0;
    z-index: 1;
}

.dropdown-content li {
    margin: 0;
}

.dropdown-content li a {
    padding: 10px 20px;
    display: block;
    white-space: nowrap; 
}

.dropdown-content li a:hover {
    background-color: #555;
}

h1 {
    font-size: 2.5em;
    margin-bottom: 10px;
    text-align: center;
}

p {
    font-size: 1.1em;
    margin-bottom: 20px;
    text-align: center;
}

footer {
    text-align: center;
    margin-top: 30px;
    padding: 10px;
    background-color: #333;
    color: #fff;
}

.center {
display: block;
    margin-left: auto;
    margin-right: auto;
}

